


<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="UB Hacking is University at Buffalo's official student-run hackathon." />
		<meta property="og:title" content="UB Hacking" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ubhacking.com/" />
		<meta property="og:image" content="https://static.ubhacking.com/www/img/logo.44094b2ba124.svg" />
		<meta property="og:description" content="UB Hacking is University at Buffalo's official student-run hackathon." />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="UB Hacking" />
		<title>Judging Information | UB Hacking</title>
		<link rel="icon" href="https://static.ubhacking.com/www/img/favicon.3295725cfbba.ico" type="image/x-icon" />
		<link rel="stylesheet" href="https://static.ubhacking.com/www/css/app.4ac7bc91d081.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		
	</head>
	<body>
		
		<header id="header">
			<h1 class="show-for-sr">UB Hacking</h1>

			 
<nav >
	<div  data-options="marginTop: 0" style="width: 100%">
		<div class="title-bar" data-responsive-toggle="responsive-menu">
			<button class="menu-icon" data-toggle="responsive-menu" aria-label="Navigation menu"></button>
			<div class="title-bar-title" data-toggle="responsive-menu">UB Hacking</div>
		</div>

		<div class="top-bar-container">
			<div class="top-bar" id="responsive-menu">
				<div class="top-bar-left hide-for-small-only">
					<ul class="menu">
						<li>
							<div class="hide-for-small-only">
								<a href="/"><img class="peng" src="https://static.ubhacking.com/www/img/f23_logo_button.00e991c1ce67.png" alt="UB Hacking logo"/></a>
							</div>
						</li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="menu vertical medium-horizontal">
						
						<li><a href="/">Home</a></li>
						<li><a href="/#about">About Us</a></li>
						<li><a href="/schedule">Schedule</a></li>
						<li><a href="https://ubh.ac/devpost">Devpost</a></li>
						<li><a href="/judge-info">Judging Info</a></li>
						
						<li><a href="/users/log-in/">Log In</a></li>
						<li>
							<div class="reg-button"><a href="/users/register/">Register</a></div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>

		</header>
		   

<main id="judge-info-container" class="grid-container fluid">
	<h2>Judging Information</h2>

	<section id="judge-criteria">
		<div class="judge-criteria-container grid-container">
			<h3>Judging Criteria</h3>

			<p>Pitch: How well did they sell you on their project? Keep in mind, many of these students are pitching for the first time ever.</p>
			<p>Freshness: How new/fresh of an idea is this? This more-so relates to how common their project is for hackathons, but be conscious of the types of projects seen online.</p>
			<p>Effort: How much effort was put into the project.
			<p>Technicality: How technically difficult was this project while still being able to achieve the goals they set? A bit more nuanced than the other categories. You could have the most complex hackathon project, but they weren’t able to do any of it. You should keep this in mind when judging, and reward those who chose something challenging, while still keeping in mind simpler projects that work well.</p>
			<p>Usefulness: Is this project useful to anyone?</p>
			<p>Works: Is the project functional?</p>
			<p>X-Factor: The project doesn’t stack up well to our grading system, but should be in the conversation for prizes. It gets an all-or-nothing score. Most projects will NOT get the X-Factor. </p>
			<p>Click the button below to take a look at the form judges use to judge your project!</p>
			<div class="judge-button-container">
				<a class="button" target="_blank" rel="noopener noreferrer" href="https://ubh.ac/judge-criteria-form">Judging Form</a>
			</div>
		</div>
	</section>
	
	<section id="judge-schedule">
		<div class="judge-schedule-container grid-container">
			<h3>Judging Schedule</h3>
			<p>10:30-11:30am: Judging Meeting<br>
			In this meeting, we will group judges in different category areas, and assign judges in pairs to different teams of hackers based on their projects, and outline all procedures for judging and deliberation.</p>

			<p>11:30-12:30pm: Lunch</p>

			<p>12:30-2:00pm: Judging<br>
			As you visit your assigned teams, you will fill out a sheet (available at the orange button above) and judge the project as listed. When the 5 minutes of judging time is up, you will turn in your sheet to event staff and get a new one for the next project.</p>

			<p>2:00-3:00pm: Deliberation<br>
			A judging occurs, we will input the scores of each team into a spreadsheet which will calculate the top 5 submitted projects. Based on these scores, we will assign prize winners. Only one prize will be awarded to any single project. The following prizes will be chosen based on score: Best AI/ML, UI/UX/Usability, Hardware, Crypto, Freshman, and Hardware Hacks. Spirit of the Hackathon and Failure to Launch will be chosen by number of points awarded during judging for any project which is nominated for it.</p> 
		</div>
	</section>

	<section id="prizes">
		<div class="prizes-container grid-container">
			<h3>Prizes</h3>

			<ul>
				<li>Best Artificial Intelligence/Machine Learning Hack</li>
				<li>Best Usability/UI/UX Hack</li>
				<li>Best General Hack</li>
				<li>Best Hardware Hack</li>
				<li>Best Crypto Hack</li>
				<li>Best Freshman Hack</li>
				<li>Spirit of the Hackathon</li>
				<li>Failure to Launch</li>
			</ul>

			<p>*Best General Hack will have 1st, 2nd, and 3rd place prizes. All others will have only one winner.</p>

			<p>**Hackers will only be eligible to win ONE prize, unless the second prize is a sponsored prize, which will chosen by our event sponsors.</p>
		</div>
	</section>

	<section id="judging-questions">
		<div class="judging-questions-container grid-container">
			<h3>Questions to Ask During Judging</h3>
			<ul>
			<li>Where did you come up with this idea?</li>
			<li>Why is your idea different than past solutions?</li>
			<li>What challenges did you run into during the hackathon, and how did you get past them?</li>
			<li>If you had more time to work on this, what features would you add?</li>
			</ul>
		</div>
	</section>
</main>


		<footer>
			<div class="grid-container">
				<div class="grid-y text-center">
					<ul class="no-bullet">
						<li>
							<a href="mailto:contact@ubhacking.com" title="Email UB Hacking"><i class="fas fa-envelope"></i></a>
						</li>
						<li>
							<a href="https://www.facebook.com/UBHacking" title="UB Hacking on Facebook"><i class="fab fa-facebook"></i></a>
						</li>
						<li>
							<a href="https://www.instagram.com/ubhacking/" title="UB Hacking on Instagram"><i class="fab fa-instagram"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/UBHacking" title="UB Hacking on Twitter"><i class="fab fa-twitter-square"></i></a>
						</li>
					</ul>
					<p class="cell">&copy; UB Hacking 2023</p>
					<p class="cell"><a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a></p>
				</div>
			</div>
		</footer>

		<script src="https://static.ubhacking.com/www/js/vendor.5bfaa6e589a2.js"></script>
		<script src="https://static.ubhacking.com/www/js/app.1f53ce7beb53.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
		
	</body>
</html>
