


<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="UB Hacking is University at Buffalo's official student-run hackathon." />
		<meta property="og:title" content="UB Hacking" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ubhacking.com/" />
		<meta property="og:image" content="https://static.ubhacking.com/www/img/logo.44094b2ba124.svg" />
		<meta property="og:description" content="UB Hacking is University at Buffalo's official student-run hackathon." />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="UB Hacking" />
		<title>Log In | UB Hacking</title>
		<link rel="icon" href="https://static.ubhacking.com/www/img/favicon.3295725cfbba.ico" type="image/x-icon" />
		<link rel="stylesheet" href="https://static.ubhacking.com/www/css/app.4ac7bc91d081.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		
	</head>
	<body>
		
		<header id="header">
			<h1 class="show-for-sr">UB Hacking</h1>

			 
<nav >
	<div  data-options="marginTop: 0" style="width: 100%">
		<div class="title-bar" data-responsive-toggle="responsive-menu">
			<button class="menu-icon" data-toggle="responsive-menu" aria-label="Navigation menu"></button>
			<div class="title-bar-title" data-toggle="responsive-menu">UB Hacking</div>
		</div>

		<div class="top-bar-container">
			<div class="top-bar" id="responsive-menu">
				<div class="top-bar-left hide-for-small-only">
					<ul class="menu">
						<li>
							<div class="hide-for-small-only">
								<a href="/"><img class="peng" src="https://static.ubhacking.com/www/img/f23_logo_button.00e991c1ce67.png" alt="UB Hacking logo"/></a>
							</div>
						</li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="menu vertical medium-horizontal">
						
						<li><a href="/">Home</a></li>
						<li><a href="/#about">About Us</a></li>
						<li><a href="/schedule">Schedule</a></li>
						<li><a href="https://ubh.ac/devpost">Devpost</a></li>
						<li><a href="/judge-info">Judging Info</a></li>
						
						<li><a href="/users/log-in/">Log In</a></li>
						<li>
							<div class="reg-button"><a href="/users/register/">Register</a></div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>

		</header>
		   
  <main class="grid-container">
    <h2>Log In</h2>

    <div class="grid-x grid-padding-x align-center">
      <form class="cell medium-6" method="post" data-abide novalidate>
        <input type="hidden" name="csrfmiddlewaretoken" value="GJgyXTHcH8WvEU48fX04A3L0wrRCzTsFwUly3RXcmgASPkYf3jgxz3sO0Pozi1Rv">

        


        <fieldset class="fieldset">
          <legend>Credentials</legend>

          <label>
  
    Email address
    <input type="email" name="email" autofocus maxlength="255" required id="id_email">
  
  
    <span class="form-error">
      Enter a valid email address.
      
    </span>
  
</label>
<div class="help-text">Don't have an account? <a href="/users/register/">Register</a>!</div>


          <label>
  
    Password
    <input type="password" name="password" required id="id_password">
  
  
    <span class="form-error">
      Enter your password.
      
    </span>
  
</label>
<div class="help-text">Forgot your password? <a href="/users/password/reset/">Reset it</a>!</div>

        </fieldset>

        <fieldset class="fieldset">
          <a id="mymlh-oauth" class="button expanded hollow" href="/users/oauth-start/">Continue with MyMLH</a>
        </fieldset>

        <button class="button expanded">Log In</button>
      </form>
    </div>
  </main>


		<footer>
			<div class="grid-container">
				<div class="grid-y text-center">
					<ul class="no-bullet">
						<li>
							<a href="mailto:contact@ubhacking.com" title="Email UB Hacking"><i class="fas fa-envelope"></i></a>
						</li>
						<li>
							<a href="https://www.facebook.com/UBHacking" title="UB Hacking on Facebook"><i class="fab fa-facebook"></i></a>
						</li>
						<li>
							<a href="https://www.instagram.com/ubhacking/" title="UB Hacking on Instagram"><i class="fab fa-instagram"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/UBHacking" title="UB Hacking on Twitter"><i class="fab fa-twitter-square"></i></a>
						</li>
					</ul>
					<p class="cell">&copy; UB Hacking 2023</p>
					<p class="cell"><a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a></p>
				</div>
			</div>
		</footer>

		<script src="https://static.ubhacking.com/www/js/vendor.5bfaa6e589a2.js"></script>
		<script src="https://static.ubhacking.com/www/js/app.1f53ce7beb53.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
		
  <script>
    const a = document.getElementById("mymlh-oauth");
    a.setAttribute("href", "/users/oauth-start/" + window.location.search);
  </script>

	</body>
</html>
