<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="centered-div">
        <a href="https://imgflip.com/i/84xreo"><img src="https://i.imgflip.com/84xreo.jpg" title="made at imgflip.com"/></a>
        <p>Be sure to check your links, phishing is very easy to create and fall for.</p>
        <p>We created this website in about 30 minutes.</p>
        <p>Here is the real <a href="https://www.ubhacking.com">UB Hacking</a> website.</p>
    </div>
</body>
</html>