

<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="UB Hacking is University at Buffalo's official student-run hackathon." />
		<meta property="og:title" content="UB Hacking" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ubhacking.com/" />
		<meta property="og:image" content="https://static.ubhacking.com/www/img/logo.44094b2ba124.svg" />
		<meta property="og:description" content="UB Hacking is University at Buffalo's official student-run hackathon." />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="UB Hacking" />
		<title>UB Hacking</title>
		<link rel="icon" href="https://static.ubhacking.com/www/img/favicon.3295725cfbba.ico" type="image/x-icon" />
		<link rel="stylesheet" href="https://static.ubhacking.com/www/css/app.4ac7bc91d081.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="../CSS/styles.css"/>
		
  <link rel="stylesheet" href="https://static.ubhacking.com/www/css/home.6808bab22420.css">
  <style>
    
    header {
      background: url(https://static.ubhacking.com/www/img/ubh_splash_f23.a7373e1acd22.png);
      background-size: cover;
    }
    @media (orientation: portrait) {
      header {
        background-size: cover;
      }
    }
    /* Temporary addition for Devpost */
    @media (max-width: 500px) {
      header .button-group {
        flex-direction: column;
      }
      header .button-group .button {
        margin: 0 .5rem .5rem !important;
      }
    }
  </style>

	</head>
	<body>
		
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<header id="header">
	<h1 class="show-for-sr">UB Hacking</h1>

	<div class="grid-y header-grid text-center">
		
		<div class="shrink cell">

 
		</div>

   

<main id="main" class="text-justify">
 
	<div class="centered-div">
        <h1>Phishing is a very common scam, and easy to fall for!</h1>
        <h2> To avoid potential phishing scams, avoid links from untrusted sources, always check the url of a website, </h2><br/>
        <h2>If you fall victim to an attack, act immediately to protect yourself. Alert your financial institution.<br /> Place fraud alerts on your credit files. Monitor your credit files and account statements closely.</h2>
        <a href="https://imgflip.com/i/84xreo"><img src="https://i.imgflip.com/84xreo.jpg" title="made at imgflip.com"/></a>
    </div>


  </main>

 
	</body>
</html>




<!--<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
    </head>
    <body>
        <div class="centered-div">
            <a href="https://imgflip.com/i/84xreo"><img src="https://i.imgflip.com/84xreo.jpg" title="made at imgflip.com"/></a>
            <h1>Phishing is a very common scam, and easy to fall for!</h1>
            <h2>For information on how to protect yourself from phishing scams <a href = "https://www.occ.gov/topics/consumers-and-communities/consumer-protection/fraud-resources/phishing-attack-prevention.html#howtoprotect"> click here.</a></h2><br/>
            <h2>If you fall victim to an attack, act immediately to protect yourself. Alert your financial institution.<br /> Place fraud alerts on your credit files. Monitor your credit files and account statements closely.</h2>
        </div>
    </body>
</html>-->
